/* CSS declarations go here */
.section-toolbar {
    z-index: 1;
}

.full-height {
    height: 100%;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right!important;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

md-divider.primary  {
    border-top-color: green;
}

.material-icons.md-16 {
  font-size: 16px; height: 16px; width: 16px; }
.material-icons.md-18 {
  font-size: 18px; height: 18px; width: 18px; }
.material-icons.md-24 {
  font-size: 24px; height: 24px; width: 24px; }
.material-icons.md-36 {
  font-size: 36px; height: 36px; width: 36px; }
.material-icons.md-48 {
  font-size: 48px;height: 48px; width: 48px; }
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26); }
.material-icons.md-light {
  color: white; }
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3); }
.material-icons.success-color { color: green; }

md-grid-tile.gray {
  background: #f5f5f5; 
}

md-grid-tile.green {
  background: #b9f6ca; 
}

md-grid-tile-header figcaption, 
md-grid-tile-footer figcaption { 
    width:100%
}

md-grid-tile-footer md-icon {
    margin-bottom: 10px;
    margin-left: 5px;
}

.content-grid {
    top: 0;
    position: absolute;
}


