<md-toolbar class="md-hue-2 section-toolbar">
    <div class="md-toolbar-tools">
        <h2>Registro</h2>
    </div>
</md-toolbar>
<md-content layout="row" flex layout-padding ng-controller="RegisterCtrl">
    <div layout="column" flex>
        <div layout="row">
            <div layout="column" layout-fill >
                <div layout="row" layout-wrap >
                    <h3>Datos de Acceso</h3>
                </div>
                <form class="new-experience" > <!-- ng-submit="$ctrl.addUser()" -->
                    <div layout="row" layout-wrap >
                        <div layout="column" flex="66">
                            <md-input-container class="register-input-container">
                            <label>Nombre de Usuario</label>
                            <input type="text" name="username" ng-model="username"/>
                        </md-input-container>
                        </div>
                    </div>
                    <div layout="row" layout-wrap>
                        <div layout="column" flex="66">
                            <md-input-container class="register-input-container">
                            <label>E-mail</label>
                            <input type="text" name="email" ng-model="email"/>
                        </md-input-container>
                        </div>  
                    </div>
                    <div layout="row" layout-wrap >
                        <div layout="column" flex="66">
                             <md-input-container class="register-input-container">
                            <label>Contraseña</label>
                            <input type="text" name="password" ng-model="password"/>
                        </md-input-container>
                        </div>
                     </div>
                    <div layout="row" layout-padding ></div>
                     <md-divider class="primary"></md-divider>
                    <div layout="row" layout-padding ></div>
                    <experience></experience> 
                     <div layout="row" flex layout-align="center">
                        <md-button href="register_success" flex="60" class="md-raised md-primary" type="submit">Terminar Registro
                         <md-icon style="margin-left: 5px;"><i class="material-icons">keyboard_arrow_right</i></md-icon>
                        </md-button>
                    </div>
                </form>   
            </div>
        </div>
    </div>
</md-content>