<md-content layout="row" class="full-height" ng-controller="registerSuccessCtrl">
    <div layout="column" layout-fill layout-align="center">
        <div layout="row" layout-wrap layout-padding layout-align="center" class="intro">
            <div layout="column" layout-margin layout-align="center">
                <span><h2 class="md-headline" center>{{ greeting }}</h2></span>
                <span info></span>
            </div>
        </div>
        <div layout="row" layout-xs="column" layout-margin layout-align="center" class="buttons">
            <div layout="column" layout-xs="row" flex layout-align="center">
                <md-button href="/home" flex="50" class="md-raised md-primary">Home</md-button>
            </div>
            <div layout="column" layout-xs="row" flex layout-align="center">
                <md-button href="/fullexperience" flex="50" class="md-raised md-primary">Añadir Experiencias</md-button>
            </div>
        </div>
    </div>
</md-content>
