
<md-toolbar class="md-hue-2 section-toolbar" >
    <div class="md-toolbar-tools">
        <h2>Solicitud de información</h2>
    </div>
</md-toolbar>
<div layout="row" flex="" md-colors="{background: 'grey-100'}" layout-padding="">
    <div layout="column" flex="33" layout-align="center center">
        <span class="md-subhead">Dato</span>
    </div>
    <div layout="column" flex="33" layout-align="center center">
        <span class="md-subhead">Ofrecer dato</span>
    </div>
    <div layout="column" flex="33"  layout-align="center center">
        <span class="md-subhead">Solicitar dato</span>
    </div>
</div>
<md-divider></md-divider>
<div ng-repeat="field in $ctrl.fields">
    <div layout="row" flex>
        <div layout="column" flex="33" layout-padding="" layout-align="center start">
            <span class="md-title" ng-bind="field.name"></span>
        </div>
        <div layout="column" flex="33" layout-align="center center">
            <md-switch></md-switch>
        </div>
        <div layout="column" flex="33" layout-align="center center">
            <md-switch></md-switch>
        </div>
    </div>
    <md-divider></md-divider>
</div>
<div layout="row">
    <div layout="column" layout-margin layout-align="center center" flex="">
        <md-button class="md-primary md-raised" ng-click="showConfirm($event)">Enviar solicitud</md-button>
    </div>
</div>
