<div ng-controller="headerController" id="header">
     <!-- Menu -->
    <md-sidenav md-whiteframe="4" class="md-sidenav-left fixed" md-component-id="menu-sidenav" >
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <h2>Menú</h2>
            </div>
        </md-toolbar>
    </md-sidenav>
    <div layout="row" flex>
         <!-- Toolbar -->
        <md-toolbar md-whiteframe="2" class="fixed">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Menu" ng-click="openMenu()">
                    <md-icon md-svg-icon="navigation:ic_menu_24px"></md-icon>
                </md-button>
                <p class="header-title" ng-bind="title"></p>
                <p class="header-subtitle" ng-bind="subtitle"></p>
            </div>
        </md-toolbar>
    </div>
</div>