<md-content id="welcome-template" md-colors="{background: 'green-50'}" layout="row" class="full-height">
    <div layout="column" layout-fill layout-align="center">
        <div layout="row" layout-wrap layout-padding layout-align="center" class="logo">
            <img src="capandmoney.png" />
        </div>
        <div layout="row" layout-wrap layout-padding layout-align="center" class="intro">
            <div layout="column" layout-margin>
                <span>
                    <p>
                        Bienvenido al portal en el que podrás conocer el <b>estado del mercado laboral del sector TIC</b> y con el que cnocerás el verdadero valor que tiene tu trabajo.
                    </p>
                    <p>
                        Te invitamos a que participes en el <b>intercambio de información</b> entre ususarios de la comunidad, donde tú eliges qué y con quién compartes tus datos.
                    </p>
                </span>
            </div>
        </div>
        <div layout="row" layout-xs="column" layout-margin layout-align="center" class="buttons">
            <div layout="column" layout-xs="row" flex layout-align="center">
                <md-button flex="50" class="md-raised md-primary" type="submit">Registrarse</md-button>
            </div>
            <div layout="column" layout-xs="row" flex layout-align="center">
                <md-button flex="50" class="md-raised md-primary" type="submit">Iniciar Sesión</md-button>
            </div>
        </div>
    </div>
</md-content>