<div id="experience-template">
    <md-divider></md-divider>
    <h3>Experiencia Profesional</h3>
    <div layout="row" layout-wrap >
       <div layout="column" flex="66">
            <md-input-container class="register-input-container">
            <label>Perfil Profesional Actual</label>
            <input type="text" name="perfil" ng-model="perfil"/>
        </md-input-container>
        </div>  
        <div layout="column" ng-controller="SwitchCtrl" flex="33">
            <md-switch ng-model="data.privacidad" ng-change="onChange(data.privacidad)">
                    {{ message }}
            </md-switch> 
        </div>
     </div>
    <div layout="row" layout-wrap>
       <div layout="column" flex="66" ng-controller="TecnhologyCtrl" ng-cloak>
              <md-input-container class="register-input-container selectdemoSelectHeader">
                <label>Tecnologías Usadas</label>
                <md-select ng-model="selectedTecnhology"
                           md-on-close="clearSearchTerm()"
                           data-md-container-class="selectdemoSelectHeader"
                           multiple>
                  <md-select-header class="demo-select-header">
                    <input ng-model="searchTerm"
                           type="search"
                           placeholder="Búsqueda de tecnologías..."
                           class="demo-header-searchbox md-text">
                  </md-select-header>
                  <md-optgroup label="Tecnologias">
                    <md-option ng-value="techno" ng-repeat="techno in technologies |
                      filter:searchTerm">{{techno}}</md-option>
                  </md-optgroup>
                </md-select>
              </md-input-container>
        </div>
        <div layout="column" ng-controller="SwitchCtrl" flex="33">
            <md-switch ng-model="data.privacidad" ng-change="onChange(data.privacidad)">
                    {{ message }}
            </md-switch> 
        </div>
    </div>
    <div layout="row" layout-wrap>
        <div layout="column" flex="66">
            <md-input-container class="register-input-container">
                <label>Empresa</label>
                <input type="text" name="empresa" ng-model="empresa"/>
            </md-input-container>
        </div>
        <div layout="column" ng-controller="SwitchCtrl"  flex="33">
            <md-switch ng-model="data.privacidad" ng-change="onChange(data.privacidad)">
                    {{ message }}
            </md-switch> 
        </div>
    </div>
    <div layout="row" layout-wrap>
        <div layout="column" flex="66">
            <md-datepicker id="antiguedad-datepicker" class="register-input-container" ng-model="myDate" md-placeholder="Fecha Antiguedad" md-min-date="minDate" md-max date="maxDate">
            </md-datepicker>

        </div>
        <div layout="column" ng-controller="SwitchCtrl"  flex="33">
            <md-switch ng-model="data.privacidad" ng-change="onChange(data.privacidad)">
                    {{ message }}
            </md-switch> 
        </div>
    </div>
    <div layout="row" layout-wrap>
        <div layout="column" flex="66">
            <md-input-container class="register-input-container">
                <label>Salario bruto anual(€)</label>
                <input type="text" name="salario" ng-model="salario"/>
            </md-input-container> 
        </div>
        <div layout="column" ng-controller="SwitchCtrl" flex="33">
            <md-switch ng-model="data.privacidad" ng-change="onChange(data.privacidad)">
                    {{ message }}
            </md-switch> 
        </div>
     </div>
    <div layout="row" layout-wrap>
        <div layout="column" flex="66">
             <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb5" class="md-primary">
                Vincular experiencia a mi perfil
            </md-checkbox>
        </div>
     </div>  

     <!-- Add new experience template when click -->
    <script type="text/ng-template" id="/experience.html">
      <experience></experience>
    </script>
    <div layout="row" layout-wrap>
        <div layout="column" flex="66">
            <div class="valign-center">
                <a ng-click="currentTpl='/experience.html'" id="tpl-link">
                     <i class="material-icons add-experience-icon">add</i>
                </a>
                 <span> Añadir experiencia anterior</span>
            </div>
        </div>
    </div>
    <div id="tpl-content" ng-include src="currentTpl">
    </div>
</div>

