<div id="fullexperience">
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <h2>Añadir Experiencia</h2>
        </div>

    </md-toolbar>
    <md-content layout="row" flex layout-padding ng-controller="RegisterCtrl">
        <div layout="column" flex>
            <div layout="row" layout-padding>
                <div layout="column" layout-fill>
                    <experience></experience>
                </div>
            </div>
            <div layout="row" layout-align="center">
                <md-button class="md-raised md-primary" type="submit">Terminar</md-button> 
            </div>
        </div>
    </md-content>
</div>