<md-list>
    <md-list-item>
        <p>
            <a href="/info_request">Vista solicitud/negociación de información laboral</a>
        </p>
    </md-list-item>
    <md-list-item>
        <p>
            <a href="/register">Vista registro completo</a>
        </p>
    </md-list-item>
    <md-list-item>
        <p>
            <a href="/fullexperience">Vista añadir experiencia</a>
        </p>
    </md-list-item>
    <md-list-item>
        <p>
            <a href="/welcome">Vista Bienvenida</a>
        </p>
    </md-list-item>
    <md-list-item>
        <p>
            <a href="/interchange_area">Área de intercambio</a>
        </p>
    </md-list-item>
    <md-list-item>
        <p>
            <a href="/init_sesion">Inicio de Sesión</a>
        </p>
    </md-list-item>
</md-list>